{{/*Favicon*/}}
{{ if .Site.Params.Favicon }}
<link rel="shortcut icon" href="{{ .Site.Params.Favicon }}/favicon.ico" type="ico">
<link rel="apple-touch-icon" href="{{ .Site.Params.Favicon }}/apple-touch-icon">
<link rel="shortcut icon" href="{{ .Site.Params.Favicon }}/favicon-16x16.png" >
<link rel="shortcut icon" href="{{ .Site.Params.Favicon }}/favicon-32x32.png" >
<link rel="shortcut icon" href="{{ .Site.Params.Favicon }}/android-chrome-192x">
<link rel="shortcut icon" href="{{ .Site.Params.Favicon }}/android-chrome-512x">
<link rel="manifest" href="{{ .Site.Params.Favicon }}/site.webmanifest">
{{ else }}
<link rel="shortcut icon" href="{{ .Site.BaseURL }}image/favicon/favicon.ico" type="ico">
<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}image/favicon/apple-touch-ico">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}image/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}image/favicon/favicon-32x32.png">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}image/favicon/android-chrome-192">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}image/favicon/android-chrome-512">
<link rel="manifest" href="{{ .Site.BaseURL }}image/favicon/site.webmanifest">
{{ end }}


