{{ if $.Site.Params.style.user }}
    .box-hero{
        {{ with $.Site.Params.style.user.imgSeparate }}
        margin-top:{{$.Site.Params.style.user.imgSeparate}};
        {{end}}
    }

    .box-avatar{
        margin-inline-start: auto;
        margin-inline-end: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        {{ with $.Site.Params.style.user.imgRad }}
        border-radius:{{ $.Site.Params.style.user.imgRad }};
        {{ end }}
        {{with $.Site.Params.style.user.imgSize}}
        heigth:{{$.Site.Params.style.user.imgSize}};
        width:{{$.Site.Params.style.user.imgSize}};
        {{end}}
    }
    .avatar{
        {{ with $.Site.Params.style.user.imgRad }}
        border-radius:{{ $.Site.Params.style.user.imgRad }};
        {{ end }}
        {{with $.Site.Params.style.user.imgSize}}
        heigth:{{$.Site.Params.style.user.imgSize}};
        width:{{$.Site.Params.style.user.imgSize}};
        {{end}}
    }

    .user-site{
        {{with $.Site.Params.style.user.titleColor}}
    color:{{$.Site.Params.style.user.titleColor}};
        {{end}}
        {{ with $.Site.Params.style.user.titleSize }}
    font-size:{{$.Site.Params.style.user.titleSize }};
        {{end}}
        {{ with $.Site.Params.style.user.titleSeparate }}
        margin-bottom:{{$.Site.Params.style.user.titleSeparate }};
        {{else}}
        margin-bottom:5px;
        {{end}}
        {{ with $.Site.Params.style.user.titleFamily }}
        font-family:'{{$.Site.Params.style.user.titleFamily }}';
        {{ end }}
    }

    .user-description{
        {{ with $.Site.Params.style.user.textColor }}
    color:{{$.Site.Params.style.user.textColor}};
        {{ end }}
        {{ with $.Site.Params.style.user.textSize }}
    font-size:{{$.Site.Params.style.user.textSize }};
        {{end}}
        {{ with $.Site.Params.style.user.textSeparate }}
    margin-bottom:{{$.Site.Params.style.user.textSeparate}};
        {{ end }}
    }
    @media( prefers-color-scheme: dark ){
        .user-site{
        {{ with $.Site.Params.style.user.titleColorDark }}
        color:{{$.Site.Params.style.user.titleColorDark }};
        {{ else }}
            {{with $.Site.Params.style.user.titleColor}}
        color:{{$.Site.Params.style.user.titleColor}};
            {{end}}
        {{ end }}
        }

        .user-description{
            {{ with $.Site.Params.style.user.textColorDark }}
            color:{{$.Site.Params.style.user.textColorDark }};
            {{else}}
                {{ with $.Site.Params.style.user.textColor }}
            color:{{$.Site.Params.style.user.textColor}};
                {{ end }}
            {{ end }}
        }
    }
{{ end }}