<header class="box-hero">
    {{ if or .Site.Params.header.avatar .Site.Params.header.gravatar }}
    <figure class="box-avatar">
            {{ partial "header/avatar.html" . }}
    </figure>
    {{ end }}
    <main class="box-main">
        {{ if .Site.Params.header.user }}
        <h1 class="user-site" >{{ .Site.Params.header.user }}</h1>
        {{ else }}
        <h1 class="user-site">My Linkbox Site</h1>
        {{ end }}

        {{ with .Site.Params.header.paragraph }}
            <p class="user-description"> {{$.Site.Params.header.paragraph }} </p>
        {{ end }}
    </main>
</header>