<a class="link-group" href="{{ $.Site.BaseURL}}">
{{- with $.Site.Params.header.gravatar }}
    <img src="https://www.gravatar.com/avatar/{{ md5 $.Site.Params.header.gravatar | safeURL }} " alt="{{if $.Site.Params.header.alt_img }}{{$.Site.Params.header.alt_img}}{{else}}'Logo {{$.Site.Title}}'{{end}}" class="avatar">
{{- else }}
    {{- if $.Site.Params.header.avatar_dark }}
    <img src="{{$.Site.Params.header.avatar_dark }}" class="avatar" id="avatar" alt="{{if $.Site.Params.header.alt_img }}{{$.Site.Params.header.alt_img }}{{else}}'Logo{{$.Site.Title }}'{{end}}">
    <script>
        const theme  = window.matchMedia('(prefers-color-scheme: dark)');
        if (theme.matches){
        document.getElementById('avatar').src="{{ $.Site.Params.header.avatar_dark }}";
        console.log("dark");
        }else{
        document.getElementById('avatar').src="{{ $.Site.Params.header.avatar }}";
        console.log("light");
        }
    </script>
    {{- else }}
        {{- with $.Site.Params.header.avatar }}
        <img src="{{$.Site.Params.header.avatar }}" class="avatar" id="avatar" alt="{{if $.Site.Params.header.alt_img }}{{$.Site.Params.header.alt_img }}{{else}}'Logo{{$.Site.Title }}'{{end}}">
        {{- end }}
    {{- end }}
{{- end }}
</a>
